@charset "UTF-8";

/**{
    margin:0;
    padding:0;
}*/

html, body {
    height: 100%;
}

body {
    text-align: center;
	color: #000000;
	background: white;
	font-family: 'roboto';
	font-weight: light;
	font-size: 100%;	
}

#main{
    max-width:1280px;
    height:650px;
    margin:0 auto;

}

h1 {
	color:#379EC1;	
	font-family:'roboto';
	font-size: 200%;
	font-weight: medium;
}

h2 {
	color:#379EC1;	
	font-family:'roboto';
	font-size: 150%;
	font-weight: medium;
}

/* Le header et les éléments d'en-tête */
#header {
	background-image: url("logo propre-01.png");
	background-repeat: no-repeat;
	background-position-x: center;
}

.image1 {
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 50px;
}

/* Les boutons */
.primaryBtn {
	width:150px;
	height: 40px;
    justify-content: center;
    font-weight: medium;
    padding: 0 1rem;
    color: #ffffff;
    text-decoration: none;
    background-color: #379EC1;
    border: 2px solid #379EC1;
    line-height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.submitBtn {
    color: #fff !important;
    background-color: #379EC1;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 14px;
    outline: medium none;
    padding: 0 10px !important;
    margin-bottom: 10px !important;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.submitBtn:hover{
    color: #659224;
}

#btnSnapit{
    color: #fff !important;
    background-color: #379EC1;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 14px;
    outline: medium none;
    padding: 0 10px !important;
    margin-bottom: 10px !important;
    box-sizing: border-box;
    -webkit-appearance: none;
}

#btnLogin,
#btnAvatar,
#btnFaceDatabase {
    color: #fff !important;
    background-color: #379EC1;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 14px;
    outline: medium none;
    padding: 0 10px !important;
    margin-bottom: 10px !important;
    box-sizing: border-box;
    -webkit-appearance: none;
}

/* Les inter-divisions */
div#contenu a {
	color: #659224 ;
}

div#contenu a:hover {
	color: #659224;
}

div#menu{
	border: 2px solid #379EC1;
	padding: 20px;
	margin: 20px;
}
div#corps{
	margin: 20px;
}
div#credits{
	margin: 20px;
}
div.top_nav{
	margin-top: 20px;
	margin-right: 10px;
	text-align: right;
	height: 10px;
	font-size: 13px;
}

.center-div-log{
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
}

.center-div-new{
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 430px;
  }

/*L'inventaire, prise et retour */  
#inventaire{
 	column-count: 2;
 	column-gap: 20px;
 	font-size: 13px;
 }
 #col-md-2{
 	width: 50px;
 } 
#restitution{
	column-count: 2;
 	column-gap: 20px;
 	font-size: 13px;
}

/* Le cadre et la caméra */
.center-div-cam{
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 480px;
  }

fieldset{
	border: 2px solid #379EC1;
	padding: 20px;
	margin: 20px;
}

.container-cam{
    display: inline-block;
}

.camera-container{
    flex: 1;
    padding: 1em;
}

.container-prev{
    display: inline-block;
}

#results{
    flex: 1;
    padding: 1em; 
    height: 240px;
    width: 320px;
}

/* Le footer */
.footer-accueil{
	color: #659224 ;	
    background:#ffffff;
    /*position:fixed;*/
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
}

.footer{
	color: #659224 ;	
    background:#ffffff;
    position:fixed;
    margin-bottom: 0;
    margin-left: 680px;
    text-align: center;
}

/* L'inventaire */
input[type=number] {
  float: left;
  width: 70px;
  height: 20px;
  padding: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: #379ec1;
  border: 2px #379ec1 solid;
  background: none;
  outline: none;
  pointer-events: none;
}

span.spinner {
  position: absolute;
  height: 25px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 35px;
  height: 20px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 2em;
  line-height: 16px;
  color: #379ec1;
  border: 2px #379ec1 solid;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

span.spinner > .add {
  top: 0;
  border: 2px #379ec1 solid;
  border-left: 0;
  border-radius: 0 2px 2px 0;
}

span.spinner > .sub:hover,
span.spinner > .add:hover {
  background: #379ec1;
  color: #25323B;
}
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
}

/*Le popup de connection*/
#popup_bloc{
	width: 400px;
	height: 50px;
	z-index: 10;
	background-color: #379EC1;
	color: white !important;
	font-size: 15px;
	text-align: center;
	padding-top: 10px;
}


